{% extends 'layout.html' %}

{% block title %}
Orders
{% endblock %}

{% block body %}
<div class="container-sm">

        <div class="row">
            
            <div class="col-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Table #37</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-md-4">
              <a href="#" class="res-card">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Table #2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Table #21</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Table #4</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
          </div>
{% endblock %}